<label>Server name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->

<input
  type="text"
  class="form-control"
  [(ngModel)]="newServerName">

<button
  class="btn btn-primary"
  [disabled]="!canAddServer"
  (click)="onCreateServer()">Add server</button>
<br />

<hr />

<!-- {{ serverCreationStatus }} -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ newServerName }}</p>
<ng-template #noServer>
  <p>Waiting...</p>
</ng-template>

<hr />

<app-server
  *ngFor="let server of servers; let i = index">
</app-server>
